body{
    background: url(/images/sam_running.JPG) center center no-repeat fixed;
    background-size: cover;
    color: #fff;
}

.container{
}

.offset-top{
    margin-top:200px;
}
.social-block{
    padding-left: 0px;
}
.social-block li {
    margin:0 10px 0;
    display: inline-block;
    color: #3a3a3a;
}

.social-block a {
    color: #90f5ff;
}

.social-block a:hover {
    color: #00dbf6;
}

.small-offset{
    margin:10px 0;
}

.title{
    font-family: 'Libre Baskerville', serif;
    font-size: 85px;
    color: #fff;
}

.sub-title{
    font-size: 25px;
    color: #fff;
    font-family: 'Libre Baskerville', serif;
}

#footer {
    position:absolute;
    bottom:0;
    left: 0;
    width:100%;
    height:60px;
}

button {
    background-color: #90f5ff;
    color: #000 !important;
}

button:hover {
    background-color: #00dbf6;
}

.main-content{
    border-radius: 10px;
    background-color: rgba(0,0,0,.2);
    padding: 20px 10px;
}



/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
    .title{
        font-size: 45px;
    }

    .sub-title{
        font-size: 25px;
    }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
    .offset-top{
        margin-top:100px;
    }
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
    .title{
        font-size: 45px;
    }

    .sub-title{
        font-size: 25px;
    }

    .offset-top{
        margin-top:400px;
    }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
    .offset-top{
        margin-top:400px;
    }
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
    .offset-top{
        margin-top:300px;
    }
}








